NODE_ENV=development
PORT=3000
MONGODB_URI=mongodb://localhost:27017/node-practice
AUTH_SALT=your-auth-salt-here
JWT_ACCESS_SECRET=your-jwt-access-secret-here
JWT_REFRESH_SECRET=your-jwt-refresh-secret-here
LOG_LEVEL=info